<template name="home">
	<div class="row">
		<div class="medium-6 columns space-from-top carpool-form">
			<form>
				<div class="large-12 columns">
					<div class="row">
        				<div class="small-2 columns">
          					<label for="right-label" class="right inline">Departuer</label>
        				</div>
				        <div class="small-10 columns">
				          <input type="text" id="right-label" placeholder="Please Enter Your Departuer">
				        </div>
      				</div>
				</div>
				<div class="large-12 columns">
					<div class="row">
        				<div class="small-2 columns">
          					<label for="right-label" class="right inline">Destination</label>
        				</div>
				        <div class="small-10 columns">
				          <input type="text" id="right-label" placeholder="Please Enter Your Destination">
				        </div>
      				</div>
				</div>
				<div class="large-12 columns">
					<div class="row">	
					   <div class="small-2 columns">
          					<label for="right-label" class="right inline">Date</label>
       				   </div>	
       				   <div class="small-10 columns">	
						   <div class="row collapse">
						      	<div class="small-9 columns">
						          <input type="text" placeholder="Please Enter your departuer date" />
						        </div>
						        <div class="small-3 columns">
						          <span class="postfix">Calender</span>
						        </div>
		  				   </div>
	  				   </div>
  				   </div>
				</div>
			</form>
		</div>
		<div class="medium-6 columns space-from-top">6 columns</div>
	</div>
</template>
