<template name="home">
	<div class="row">
		<div class="medium-6 columns space-from-top carpool-form">
			<form>
				<h3>Where are you going?</h3>
				<div class="large-12 columns">
					<div class="row">
        				<div class="small-2 columns">
          					<label for="right-label" class="right inline">Departuer</label>
        				</div>
				        <div class="small-10 columns">
				        	<div class="row collapse">
						      	<div class="small-10 columns">
						           <input id="dep" class="controls" type="text" placeholder="Search Box">
						        </div>
						        <div class="small-2 columns">
						          <span class="postfix"  onclick="getLocation()"><i class="fa fa-location-arrow fa-1x" aria-hidden="true"></i></span>
						        </div>
		  				   </div>
				         
				        </div>
      				</div>
				</div>
				<div class="large-12 columns">
					<div class="row">
        				<div class="small-2 columns">
          					<label for="right-label" class="right inline">Destination</label>
        				</div>
				        <div class="small-10 columns">
				          <input type="text" id="des" placeholder="Please Enter Your Destination">
				        </div>
      				</div>
				</div>
				<div class="large-12 columns">
					<div class="row">	
					   <div class="small-2 columns">
          					<label for="right-label" class="right inline">Date</label>
       				   </div>	
       				   <div class="small-10 columns">	
						   <div class="row collapse">
						      	<div class="small-9 columns">
						          <input type="text" id="date" placeholder="Please Enter your departuer date" />
						        </div>
						        <div class="small-3 columns">
						          <span class="postfix">Calender</span>
						        </div>
		  				   </div>
	  				   </div>
  				   </div>
				</div>
				<button id="go" class="submit-route">Go</button>
			</form>
		</div>
		<div class="medium-6 columns space-from-top">
			<div id="map"></div>
		</div>
		<hr>
	</div>

	<div class="row list-container">
		
		 <div class="large-6 columns">
		 <h2>New Drivers Joining</h2>	
		 	<table>
			  <thead>
			    <tr>
			      <th width="150">Departure</th>
			      <th width="150">Destination</th>
			      <th width="150">Travel Date & time</th>
			      <th width="150">Details</th>
			    </tr>
			  </thead>
			  <tbody>

			   {{#each routes}}
			    <tr>
			      <td>{{start}}</td>
			      <td>{{end}}</td>
			      <td>{{travelDate}}</td>
			      <td>details</td>
			    </tr>
			   {{/each}} 
			     
			  </tbody>
			</table>
		 </div>
		
		 <div class="large-6 columns">
		  <h2>Best Routes</h2>	
		 	<table>
			  <thead>
			    <tr>
			      <th width="150">Departure</th>
			      <th width="150">Destination</th>
			      <th width="150">Date and time</th>
			      <th width="150">Total Distance between you and driver</th>
			    </tr>
			  </thead>
			  <tbody id="bestRoutes">
				{{#each session}}
				<tr>
					<td>{{this.start}}</td>	
					<td>{{this.end}}</td>	
					<td>{{this.travelDate}}</td>	
					<td>{{this.distance}}km</td>
				</tr>
				{{/each}}  
			  </tbody>
			</table>
		</div>
	</div>
 
	
    <script>
   $(function(){
  $('#date').fdatepicker({
		format: 'mm-dd-yyyy hh:ii',
		disableDblClickSelection: true,
		pickTime: true
	});
  });
   
 function initMap() {
 	var input = document.getElementById('dep');
    var destination=document.getElementById('des');
	var searchBox = new google.maps.places.SearchBox(input);
	var serachBox2=new google.maps.places.SearchBox(destination);
	var directionsService = new google.maps.DirectionsService;
	var directionsDisplay = new google.maps.DirectionsRenderer;
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 3,
		center: {lat: 41.85, lng: -87.65}
	});
  directionsDisplay.setMap(map);
  var onChangeHandler = function() {
    calculateAndDisplayRoute(directionsService, directionsDisplay);
  };
  document.getElementById('go').addEventListener('click',function(event){
  	event.preventDefault();
  	onChangeHandler();
  });
 }

function calculateAndDisplayRoute(directionsService, directionsDisplay) {
  directionsService.route({
    origin: document.getElementById('dep').value,
    destination: document.getElementById('des').value,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFqA_wqLzyUdJsADQIHoHZjCCrDaTwN3s&libraries=places&callback=initMap"
         async defer></script>
</template>
