<template name="driver">
	<div>
		<div class="medium-6 columns space-from-top carpool-form">
			<form class="driver-routes">
				<h3>Where are you going?</h3>
				<div class="large-12 columns">
					<div class="row">
        				<div class="small-2 columns">
          					<label for="right-label" class="right inline">Departure</label>
        				</div>
				        <div class="small-10 columns">
				        	<div class="row collapse">
						      	<div class="small-10 columns">
						           <input id="dep" class="controls" type="text" placeholder="Enter your Departure address">
						        </div>
						        <div class="small-2 columns">
						          <span class="postfix"  onclick="getLocation()"><i class="fa fa-location-arrow fa-1x" aria-hidden="true"></i></span>
						        </div>
		  				   </div>
				         
				        </div>
      				</div>
				</div>
				<div class="large-12 columns">
					<div class="row">
        				<div class="small-2 columns">
          					<label for="right-label" class="right inline">Destination</label>
        				</div>
				        <div class="small-10 columns">
				          <input type="text" id="des" name="destination" placeholder="Please Enter Your Destination">
				        </div>
      				</div>
				</div>
				<div class="large-12 columns">
					<div class="row">	
					   <div class="small-2 columns">
          					<label for="right-label" class="right inline">Date</label>
       				   </div>	
       				   <div class="small-10 columns">	
						   <div class="row collapse">
						      	<div class="small-9 columns">
						          <input type="text" id="date" name="departue" placeholder="Please Enter your Departure date" />
						        </div>
						        <div class="small-3 columns">
						          <span class="postfix">Calender</span>
						        </div>
		  				   </div>
	  				   </div>
  				   </div>
				</div>
				<div class="large-12 columns">
					<div class="row">
        				<div class="small-2 columns">
          					<label for="right-label" class="right inline">Car type</label>
        				</div>
				        <div class="small-10 columns">
				          <input type="text" id="cartype" name="cartype" placeholder="Please Enter Your Car type">
				        </div>
      				</div>
				</div>
				<div class="large-12 columns">
					<div class="row">
        				<div class="small-2 columns">
          					<label for="right-label" class="right inline">Number of Seats</label>
        				</div>
				        <div class="small-10 columns">
				          <input type="text" id="numberseats" name="numberseats" placeholder="Number of Seats">
				        </div>
      				</div>
				</div>
				<button  class="submit-route" id="go">Go</button>
			</form>
		</div>
		<div class="medium-6 columns space-from-top map-div">
			<div id="map"></div>
		</div>
		<hr>
	</div>
</template>

