<template name="navbar">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Guzo</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/">Home</a></li>
      {{#if currentUser}}
      <li><a href="#" class="logout-btn">logout</a></li>
      <li><a href="/managerides">Requested Rides</a></li>
       <li><a href="/driver">Share your ride</a></li>
       <li><a href="#" >Hello user {{currentUser.profile.full_name}}</a></li>
      {{else}}
      <li><a href="/login">login</a></li>
      <li><a href="/register">Register</a></li>
      {{/if}}
    </ul>
  </section>
</nav>
</template>
