<template name="driverdetail">
<!-- 	{{detail.route.cartype}}
	{{detail.user.profile.full_name}} -->
<div class="row">
  <div class="large-6 small-centered columns">
	
	<ul class="pricing-table spacing">
	  <li class="title">Name: {{detail.user.profile.full_name}}</li>
	  <li class="price">Car type: {{detail.route.cartype}}</li>
	  <li class="bullet-item">Departuer: {{detail.route.start}}</li>
	  <li class="bullet-item">Destination: {{detail.route.end}}</li>
	  <li class="bullet-item">Availble Seats: {{detail.route.leftseats}}</li>
	  <li class="bullet-item">Travel Date: {{detail.route.travelDate}}</li>
	  {{#each detail.user.emails}}
	  <li class="bullet-item">Email:{{this.address}} </li>
	  {{/each}}
	  <li class="cta-button"><a class="button request" id="request" href="#">Request a seat</a></li>
	</ul>
	
  </div>
</div>
</template>